<div class="card">
  <form (ngSubmit)="onSubmit(productForm)" class="form-control" #productForm="ngForm">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input class="form-control" #name="ngModel" name="name" id="name" placeholder="name" [(ngModel)]="product.name" />
      <div *ngIf="name.invalid && (name.dirty || name.touched)">
        <span class="text-danger">Es requerido</span>
      </div>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">description</label>
      <input class="form-control" #description="ngModel" name="description" id="description" placeholder="description"
        [(ngModel)]="product.description" required minlength="5" />
      <div *ngIf="description.invalid && (description.dirty || description.touched)">
        <span class="text-danger">Es requerido</span>
      </div>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">price</label>
      <input type="number" class="form-control" #price="ngModel" name="price" id="price" placeholder="price"
        [(ngModel)]="product.price" required />
      <div *ngIf="price.invalid && (price.dirty || price.touched)">
        <span class="text-danger">Es requerido</span>
      </div>
    </div>
    <button class="btn btn-primary" [disabled]="!productForm.form.valid">
      {{product.id == undefined ? "Crear" : "Editar"}}
    </button>
  </form>
</div>